div.action-line div.action {
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
}
div.action-line {
    width: 100%;
    margin: auto;
}

body {
    width: 60%;
    margin: auto;
}

main {
    margin: 5px 0 10px;
}

th {
    border: black solid 1px;
    background-color: #9cadb8;
}
td {
    border: black solid 1px;
    background-color: #eceff1;
}
div#button-convert {
    border: black 2px;
    border-radius: 2px;
    background-color: #9cadb8;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
}

div#button-convert:hover {
    background-color: lightgray;
}

input.error {
    background-color: pink;
}

th, td {
    padding: 3px;
}

input, select {
    padding: 4px;
}
input {
    width: 100%;
    box-sizing: border-box;
}

