div.action-line div.action {
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
}
div.action-line {
    width: 100%;
    margin: auto;
}

body {
    min-width: 60%;
    max-width: 80%;
    margin: auto!important;
}

main {
    margin: 5px 0 10px;
}

th {
    border: black solid 1px;
    background-color: #9cadb8;
}
td {
    border: black solid 1px;
    background-color: #eceff1;
}

input.error {
    background-color: pink;
}

th, td {
    padding: 3px;
}

input, select {
    padding: 4px;
}
input {
    width: 100%;
    box-sizing: border-box;
}

