div.action-line div.action {
    display: inline-block;
    margin: 2px auto;
    padding: 10px;
}
div.action-line {
    width: 100%;
    margin: auto;
}

body {
    width: 60%;
    margin: auto;
}

main {
    margin: 5px 0 10px;
}

th {
    border: black solid 2px;
    background-color: lightslategray;
}
td {
    border: black solid 2px;
}
div#button-convert {
    border: black 2px;
    border-radius: 2px;
    background-color: lightslategray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

div#button-convert:hover {
    background-color: lightgray;
}

input.error {
    background-color: pink;
}