<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{${css.get()}}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css} "/>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <div th:if="${param.error}" class="alert alert-danger">Некорректные имя пользователя или пароль.</div>
		<div th:if="${param.logout}" class="alert alert-info">Вы успешно вышли из системы.</div>
        <form class="" method="post" action="#" th:action="@{/login}">
            <h2 class="">Вход</h2>
            <p>
                <label for="username" class="" hidden>Username</label>
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       placeholder="Имя пользователя"
                       required="" autofocus="">
            </p>
            <p>
                <label for="password" class="" hidden>Password</label>
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Пароль"
                       required="">
            </p>
            <button class="btn btn-lg btn-primary" type="submit">Войти</button>
            <a class="btn btn-lg btn-outline-primary" th:href="@{/register}">Регистрация</a>
        </form>
    </div>

    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
</body>
</html>